:root{
    --dashboard-bg-color: #001489;
    --dashboard-sc-color: #ffffff;
}

ul {
    list-style-type: none; /* Removes bullets/markers */
    padding: 0;
    margin: 0;
}

img{
    height: 100px;
}

.dashboard{
    background-color: var(--dashboard-bg-color);
    height: 100vh;
    padding: 20px;
}

.dashboard__header{
    height: 100px;
    width: 100%;
    color: var(--dashboard-sc-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.dashboard__logo-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard__tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.dashboard__searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dashboard-sc-color);
    color: var(--dashboard-bg-color);
    border-radius: 20px;
    gap: 5px;
    padding: 1px;
}

input{
    height: 30px;
    width: 300px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
}

input:focus {/* New border color when focused */
  outline: none; /* Removes the default browser focus outline */
}

.dashboard__button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dashboard-sc-color);
    color: var(--dashboard-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.dashboard__button.search{
    background-color: var(--dashboard-bg-color);
    color: var(--dashboard-sc-color);
}

.dashboard__content{
    margin-top: 20px;
    height: calc(100vh - 160px);
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard__content-sidebar{
    width: 120px;
    height: fit-content;
    background-color: var(--dashboard-sc-color);
    border-radius: 15px 0 0 15px;
    border: 5px solid var(--dashboard-sc-color);

}

.dashboard__content-information{
    width: calc(100% - 120px);
    height: 100%;
    background-color: var(--dashboard-sc-color);
    border-radius: 0 15px 15px 15px;
}


.dashboard__content-sidebar ul li{
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.dashboard__content-sidebar ul li:first-child{
   border-radius: 15px 0 0 0;
}

.dashboard__content-sidebar ul li:last-child{
   border-radius: 0 0 0 15px;
}

.dashboard__content-sidebar ul li i{
    font-size: 20px;
}

.dashboard__content-sidebar ul li:hover{
    background-color: var(--dashboard-bg-color);
    color: var(--dashboard-sc-color);
}